.logo { width: 25%; height: auto; }
.small-logo { width: 15%; height: auto; }

.custom-bullet li {
    display: block;
}

.custom-bullet li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    /* font-size: 9px;
    float: left;*/
    margin-top: 4px;
    margin-left: -17px;
    margin-right: 5px;
    color: #f05f40;
}

.custom-bullet2 li {
    display: block;
}

.custom-bullet2 li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    /* font-size: 9px;
    float: left;*/
    margin-top: 4px;
    margin-left: -17px;
    margin-right: 5px;
    color: #00BFFF;
}

.heavy-text {
    font-size: 150%;
}


.hotbox_workflow { width: 90%; height: auto; }
