# Only use 'key: value' pairs, one per line. No sequence nor general yaml
# syntax. Comments are okay.
server_ip: 10.1.1.1
server_port: 19857

db_dir: "hdfs://cogito.local/user/wdai/hotbox_db"
db_meta_dir: "/home/wdai/hotbox/db_meta"

# mini-batch size during transform.
transform_batch_size: 1000

# # of parallel threads processing ingest.
num_io_ingest: 1
